# Question 1: Import Historical Labeled Data into SQL
Done

# Question 2: Import Data from SQL into Python

In [1]:
import pandas as pd
import numpy as np
import pyodbc
from sklearn.preprocessing import MinMaxScaler

In [2]:
conn = pyodbc.connect( #CONNECTION
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=localhost\SQLEXPRESS;"
    "DATABASE=vti_data;"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;")

df = pd.read_sql_query('''
                                        
SELECT *
FROM [vti_data].[dbo].[1.online_retail_II]
                                       
    ; ''', conn)
df

<>:3: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
<>:3: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
C:\Users\Hiep\AppData\Local\Temp\ipykernel_22264\110237648.py:3: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
  "SERVER=localhost\SQLEXPRESS;"
C:\Users\Hiep\AppData\Local\Temp\ipykernel_22264\110237648.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query('''

,Invoice,StockCode,Description,Quantity,InvoiceDate,Price,Customer_ID,Country
0,489434,85048,15CM CHRISTMAS GLASS BALL 20 LIGHTS,12,2009-12-01 07:45:00,695.0,130850.0,United Kingdom
1,489434,79323P,PINK CHERRY LIGHTS,12,2009-12-01 07:45:00,675.0,130850.0,United Kingdom
2,489434,79323W,WHITE CHERRY LIGHTS,12,2009-12-01 07:45:00,675.0,130850.0,United Kingdom
3,489434,22041,"RECORD FRAME 7"" SINGLE SIZE",48,2009-12-01 07:45:00,21.0,130850.0,United Kingdom
4,489434,21232,STRAWBERRY CERAMIC TRINKET BOX,24,2009-12-01 07:45:00,125.0,130850.0,United Kingdom
...,...,...,...,...,...,...,...,...
1067366,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,21.0,126800.0,France
1067367,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,415.0,126800.0,France
1067368,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,415.0,126800.0,France
1067369,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,495.0,126800.0,France
1067370,581587,POST,POSTAGE,1,2011-12-09 12:50:00,180.0,126800.0,France

# Question 3: General Information

In [3]:
df.shape

(1067371, 8)

In [4]:
df.describe()

,Quantity,InvoiceDate,Price,Customer_ID
count,1.067371e+06,1067371,1.067366e+06,824364.000000
mean,9.938898e+00,2011-01-02 21:13:55.394028544,4.214907e+02,153246.385044
min,-8.099500e+04,2009-12-01 07:45:00,0.000000e+00,123460.000000
25%,1.000000e+00,2010-07-09 09:46:00,8.500000e+01,139750.000000
50%,3.000000e+00,2010-12-07 15:28:00,1.950000e+02,152550.000000
75%,1.000000e+01,2011-07-22 10:23:00,3.950000e+02,167970.000000
max,8.099500e+04,2011-12-09 12:50:00,2.511109e+06,182870.000000
std,1.727058e+02,NaN,7.781753e+03,16974.644504

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067371 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   Invoice      1067371 non-null  object
 1   StockCode    1067371 non-null  object
 2   Description  1062989 non-null  object
 3   Quantity     1067371 non-null  int64
 4   InvoiceDate  1067371 non-null  datetime64[ns]
 5   Price        1067366 non-null  float64
 6   Customer_ID  824364 non-null   float64
 7   Country      1067371 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 65.1+ MB

In [6]:
df.dtypes

Invoice                object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
Price                 float64
Customer_ID           float64
Country                object
dtype: object

## Cleaning Data Process

## 1. Remove Duplicate Rows

In [7]:
df.duplicated().sum()

np.int64(34335)

In [8]:
df = df.drop_duplicates()
df.shape

(1033036, 8)

## 2. Detect & Remove Outliers Using IQR

In [9]:
df.describe()

,Quantity,InvoiceDate,Price,Customer_ID
count,1.033036e+06,1033036,1.033031e+06,797885.000000
mean,1.007688e+01,2011-01-03 14:30:35.429549824,4.174960e+02,153130.627772
min,-8.099500e+04,2009-12-01 07:45:00,0.000000e+00,123460.000000
25%,1.000000e+00,2010-07-05 11:38:00,8.500000e+01,139640.000000
50%,3.000000e+00,2010-12-09 13:34:00,1.950000e+02,152280.000000
75%,1.000000e+01,2011-07-27 13:17:00,3.950000e+02,167880.000000
max,8.099500e+04,2011-12-09 12:50:00,2.511109e+06,182870.000000
std,1.751976e+02,NaN,7.393006e+03,16964.666630

In [11]:
def detect_outliers_iqr(df, column):
    """
    Detect outliers using the IQR method.
    Outliers = values < Q1 - 1.5*IQR  or > Q3 + 1.5*IQR
    """
    if column not in df.columns:
        raise KeyError(f"Column '{column}' not found in DataFrame.")

    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1

    lower_bound = max(Q1 - 1.5 * IQR, 1)
    upper_bound = Q3 + 1.5 * IQR

    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers, lower_bound, upper_bound

outliers, low, high = detect_outliers_iqr(df, "Quantity")

print("Lower bound:", low)
print("Upper bound:", high)
print("Số outlier:", len(outliers))

Lower bound: 1
Upper bound: 23.5
Số outlier: 132562

In [12]:
df = df.drop(outliers.index)

## 3. Remove Irrelevant Data Using Biz Sense

## 4. Standardization Capitalization

In [13]:
df.columns

Index(['Invoice', 'StockCode', 'Description', 'Quantity', 'InvoiceDate',
       'Price', 'Customer_ID', 'Country'],
      dtype='object')

In [14]:
df = df.rename(columns={"Customer_ID": "CustomerID"})

## 5. Handle Missing Value

In [15]:
df.isnull().sum()

Invoice             0
StockCode           0
Description      1142
Quantity            0
InvoiceDate         0
Price               5
CustomerID     227314
Country             0
dtype: int64

In [16]:
df = df.dropna()

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 673160 entries, 0 to 1067370
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Invoice      673160 non-null  object
 1   StockCode    673160 non-null  object
 2   Description  673160 non-null  object
 3   Quantity     673160 non-null  int64
 4   InvoiceDate  673160 non-null  datetime64[ns]
 5   Price        673160 non-null  float64
 6   CustomerID   673160 non-null  float64
 7   Country      673160 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 46.2+ MB

## 6. Convert Data Type

In [18]:
df['CustomerID'] = df['CustomerID'].astype(int)
df['CustomerID'] = df['CustomerID'].astype(str)

## 7. Clear Format

In [19]:
df.describe()

            Quantity                    InvoiceDate          Price
count  673160.000000                         673160  673160.000000
mean        5.561088  2011-01-03 00:08:25.475667200     306.497757
min         1.000000            2009-12-01 07:45:00       0.000000
25%         2.000000            2010-07-02 10:01:00     125.000000
50%         4.000000            2010-12-02 10:27:00     169.000000
75%        10.000000            2011-08-01 17:37:00     375.000000
max        23.000000            2011-12-09 12:50:00  814275.000000
std         4.572814                            NaN    2209.355461

## 8. Fix Error

# Question 4: Create Recency Column

In [20]:
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])

reference_date = df["InvoiceDate"].max() + pd.Timedelta(days=1)

recency = df.groupby("CustomerID").agg({
    "InvoiceDate": lambda x: (reference_date - x.max()).days,  # Recency
})

recency.columns = ["R"]

# ---------------------------
# Min-Max Scaling
# ---------------------------
scaler = MinMaxScaler()
recency_scaled = pd.DataFrame(
    scaler.fit_transform(recency),
    columns=["R_scaled"],
    index=recency.index
)

# Combine original + scaled
recency_final = pd.concat([recency, recency_scaled], axis=1)

print(recency_final)

              R  R_scaled
CustomerID
123460      529  0.715447
123470        2  0.001355
123480       75  0.100271
123490       19  0.024390
123500      310  0.418699
...         ...       ...
182830        4  0.004065
182840      432  0.584011
182850      661  0.894309
182860      477  0.644986
182870       59  0.078591

[5717 rows x 2 columns]

# Question 5: Create Frequency Column

In [21]:
frequency = df.groupby("CustomerID").agg({
    "Invoice": "nunique"   # Count unique invoices per customer
})
frequency.columns = ["F"]

# Min–Max Scale Frequency
frequency_scaled = pd.DataFrame(
    scaler.fit_transform(frequency),
    columns=["F_scaled"],
    index=frequency.index
)

frequency_final = pd.concat([frequency, frequency_scaled], axis=1)

print(frequency_final)

             F  F_scaled
CustomerID
123460      11  0.025445
123470       8  0.017812
123480       5  0.010178
123490       4  0.007634
123500       1  0.000000
...         ..       ...
182830      22  0.053435
182840       1  0.000000
182850       1  0.000000
182860       2  0.002545
182870       6  0.012723

[5717 rows x 2 columns]

# Question 6: Create Monetary Column

In [22]:
df["TotalPrice"] = df["Quantity"] * df["Price"]

In [24]:
monetary = df.groupby("CustomerID").agg({
    "TotalPrice": "sum"      # Sum of total revenue
})
monetary.columns = ["M"]

# Min–Max Scale Monetary
monetary_scaled = pd.DataFrame(
    scaler.fit_transform(monetary),
    columns=["M_scaled"],
    index=monetary.index
)

monetary_final = pd.concat([monetary, monetary_scaled], axis=1)
print(monetary_final)

                   M  M_scaled
CustomerID
123460       18971.0  0.001015
123470      351063.0  0.018778
123480       15330.0  0.000820
123490      314139.0  0.016803
123500       18728.0  0.001002
...              ...       ...
182830      253818.0  0.013577
182840       22822.0  0.001221
182850       14740.0  0.000788
182860      114121.0  0.006104
182870      153801.0  0.008227

[5717 rows x 2 columns]

# Question 7: Apply Min–Max Scaler

In [ ]:
# already apply in Q4,5,6

# Question 8: Calculate Weighted RFM Score (Apply weights 0.3, 0.5, 0.2 (invert Recency))

In [28]:
# Invert R_Scaled
recency_final["R_scaled"] = 1 - recency_final["R_scaled"]

In [29]:
# Merge Recency + Frequency + Monetary
rfm_final = recency_final.merge(
    frequency_final,
    on="CustomerID",
    how="inner"
)

rfm_final = rfm_final.merge(
    monetary_final,
    on="CustomerID",
    how="inner"
)

print(rfm_final)

              R  R_scaled   F  F_scaled         M  M_scaled
CustomerID
123460      529  0.284553  11  0.025445   18971.0  0.001015
123470        2  0.998645   8  0.017812  351063.0  0.018778
123480       75  0.899729   5  0.010178   15330.0  0.000820
123490       19  0.975610   4  0.007634  314139.0  0.016803
123500      310  0.581301   1  0.000000   18728.0  0.001002
...         ...       ...  ..       ...       ...       ...
182830        4  0.995935  22  0.053435  253818.0  0.013577
182840      432  0.415989   1  0.000000   22822.0  0.001221
182850      661  0.105691   1  0.000000   14740.0  0.000788
182860      477  0.355014   2  0.002545  114121.0  0.006104
182870       59  0.921409   6  0.012723  153801.0  0.008227

[5717 rows x 6 columns]

In [30]:
rfm_final[ rfm_final["M_scaled"] == 1 ]

            R  R_scaled    F  F_scaled           M  M_scaled
CustomerID
149110      1       1.0  394       1.0  18695097.0       1.0

In [31]:
rfm_final['RFM_Score'] = rfm_final['R_scaled'] * 0.3 + rfm_final['F_scaled'] * 0.5 + rfm_final['M_scaled'] * 0.2
rfm_final

              R  R_scaled   F  F_scaled         M  M_scaled  RFM_Score
CustomerID
123460      529  0.284553  11  0.025445   18971.0  0.001015   0.098291
123470        2  0.998645   8  0.017812  351063.0  0.018778   0.312255
123480       75  0.899729   5  0.010178   15330.0  0.000820   0.275172
123490       19  0.975610   4  0.007634  314139.0  0.016803   0.299860
123500      310  0.581301   1  0.000000   18728.0  0.001002   0.174591
...         ...       ...  ..       ...       ...       ...        ...
182830        4  0.995935  22  0.053435  253818.0  0.013577   0.328213
182840      432  0.415989   1  0.000000   22822.0  0.001221   0.125041
182850      661  0.105691   1  0.000000   14740.0  0.000788   0.031865
182860      477  0.355014   2  0.002545  114121.0  0.006104   0.108997
182870       59  0.921409   6  0.012723  153801.0  0.008227   0.284429

[5717 rows x 7 columns]

# Question 9: Assign VIP Labels

In [32]:
rfm_final["Label"] = rfm_final["RFM_Score"].apply(
    lambda x: "VIP" if x > 0.75 else "Non-VIP"
)

print(rfm_final[["RFM_Score", "Label"]])

            RFM_Score    Label
CustomerID
123460       0.098291  Non-VIP
123470       0.312255  Non-VIP
123480       0.275172  Non-VIP
123490       0.299860  Non-VIP
123500       0.174591  Non-VIP
...               ...      ...
182830       0.328213  Non-VIP
182840       0.125041  Non-VIP
182850       0.031865  Non-VIP
182860       0.108997  Non-VIP
182870       0.284429  Non-VIP

[5717 rows x 2 columns]

In [33]:
rfm_final['Label'].value_counts()

Label
Non-VIP    5716
VIP           1
Name: count, dtype: int64

In [34]:
rfm_final[rfm_final["Label"] == 'VIP' ]

            R  R_scaled    F  F_scaled           M  M_scaled  RFM_Score Label
CustomerID
149110      1       1.0  394       1.0  18695097.0       1.0        1.0   VIP

# Question 10: Train KNN Using Historical Data

In [35]:
rfm_final

,R,R_scaled,F,F_scaled,M,M_scaled,RFM_Score,Label
CustomerID,,,,,,,,
123460,529,0.284553,11,0.025445,18971.0,0.001015,0.098291,Non-VIP
123470,2,0.998645,8,0.017812,351063.0,0.018778,0.312255,Non-VIP
123480,75,0.899729,5,0.010178,15330.0,0.000820,0.275172,Non-VIP
123490,19,0.975610,4,0.007634,314139.0,0.016803,0.299860,Non-VIP
123500,310,0.581301,1,0.000000,18728.0,0.001002,0.174591,Non-VIP
...,...,...,...,...,...,...,...,...
182830,4,0.995935,22,0.053435,253818.0,0.013577,0.328213,Non-VIP
182840,432,0.415989,1,0.000000,22822.0,0.001221,0.125041,Non-VIP
182850,661,0.105691,1,0.000000,14740.0,0.000788,0.031865,Non-VIP
182860,477,0.355014,2,0.002545,114121.0,0.006104,0.108997,Non-VIP
182870,59,0.921409,6,0.012723,153801.0,0.008227,0.284429,Non-VIP

In [47]:
rfm_final = rfm_final.reset_index()

In [36]:
df_knn = rfm_final[['R_scaled','F_scaled','M_scaled']]

In [37]:
scaler = MinMaxScaler()
X = scaler.fit_transform(df_knn[['R_scaled','F_scaled','M_scaled']])
X_new = scaler.transform(df_knn)
X_new

array([[2.84552846e-01, 2.54452926e-02, 1.01475804e-03],
       [9.98644986e-01, 1.78117048e-02, 1.87783460e-02],
       [8.99728997e-01, 1.01781170e-02, 8.20001094e-04],
       ...,
       [1.05691057e-01, 0.00000000e+00, 7.88442018e-04],
       [3.55013550e-01, 2.54452926e-03, 6.10432778e-03],
       [9.21409214e-01, 1.27226463e-02, 8.22680941e-03]], shape=(5717, 3))

In [38]:
from sklearn.neighbors import KNeighborsClassifier

In [39]:
knn = KNeighborsClassifier(n_neighbors=5)

knn.fit(X, rfm_final["Label"])

KNeighborsClassifier()

# Question 11: Predict New User

In [40]:
data = {
    "CustomerID": ["C001","C002","C003","C004","C005","C006","C007","C008","C009","C010"],
    "R_scaled":     [0.92, 0.88, 0.40, 0.30, 0.95, 0.50, 0.25, 0.70, 0.35, 0.60],
    "F_scaled":   [0.10, 0.20, 0.60, 0.80, 0.05, 0.50, 0.90, 0.30, 0.75, 0.40],
    "M_scaled":    [0.15, 0.30, 0.70, 0.80, 0.10, 0.55, 0.85, 0.40, 0.75, 0.45]
}

df_new = pd.DataFrame(data)

print(df_new)

  CustomerID  R_scaled  F_scaled  M_scaled
0       C001      0.92      0.10      0.15
1       C002      0.88      0.20      0.30
2       C003      0.40      0.60      0.70
3       C004      0.30      0.80      0.80
4       C005      0.95      0.05      0.10
5       C006      0.50      0.50      0.55
6       C007      0.25      0.90      0.85
7       C008      0.70      0.30      0.40
8       C009      0.35      0.75      0.75
9       C010      0.60      0.40      0.45

In [41]:
X_new = df_new[["R_scaled", "F_scaled", "M_scaled"]]

In [42]:
df_new["Predicted_Label"] = knn.predict(X_new)

c:\Users\Hiep\AppData\Local\Programs\Python\Python314\Lib\site-packages\sklearn\utils\validation.py:2742: UserWarning: X has feature names, but KNeighborsClassifier was fitted without feature names
  warnings.warn(

In [43]:
df_new

  CustomerID  R_scaled  F_scaled  M_scaled Predicted_Label
0       C001      0.92      0.10      0.15         Non-VIP
1       C002      0.88      0.20      0.30         Non-VIP
2       C003      0.40      0.60      0.70         Non-VIP
3       C004      0.30      0.80      0.80         Non-VIP
4       C005      0.95      0.05      0.10         Non-VIP
5       C006      0.50      0.50      0.55         Non-VIP
6       C007      0.25      0.90      0.85         Non-VIP
7       C008      0.70      0.30      0.40         Non-VIP
8       C009      0.35      0.75      0.75         Non-VIP
9       C010      0.60      0.40      0.45         Non-VIP

# Save Clear Data Into Database To Visiualization ti

In [44]:
import pyodbc

# --- Connect ---
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=localhost\SQLEXPRESS;"
    "DATABASE=vti_data;"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;"
)
cursor = conn.cursor()

# --- Map pandas dtype -> SQL Server type ---
dtype_map = lambda dt: "INT" if pd.api.types.is_integer_dtype(dt) else \
                       "FLOAT" if pd.api.types.is_float_dtype(dt) else \
                       "BIT" if pd.api.types.is_bool_dtype(dt) else \
                       "DATETIME" if pd.api.types.is_datetime64_any_dtype(dt) else \
                       "VARCHAR(255)"

table_name = "python_test_df"

# --- Drop + Create table ---
cursor.execute(f"IF OBJECT_ID('dbo.{table_name}', 'U') IS NOT NULL DROP TABLE dbo.{table_name}")
cols = ", ".join([f"[{c}] {dtype_map(df[c].dtype)}" for c in df.columns]) #
cursor.execute(f"CREATE TABLE dbo.{table_name} ({cols})")

# --- Insert rows ---
cursor.fast_executemany = True
cursor.executemany(f"INSERT INTO dbo.{table_name} VALUES ({','.join(['?']*len(df.columns))})", df.values.tolist()) #
conn.commit()

<>:6: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
<>:6: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
C:\Users\Hiep\AppData\Local\Temp\ipykernel_22264\3890559428.py:6: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
  "SERVER=localhost\SQLEXPRESS;"

In [48]:
import pyodbc

# --- Connect ---
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=localhost\SQLEXPRESS;"
    "DATABASE=vti_data;"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;"
)
cursor = conn.cursor()

# --- Map pandas dtype -> SQL Server type ---
dtype_map = lambda dt: "INT" if pd.api.types.is_integer_dtype(dt) else \
                       "FLOAT" if pd.api.types.is_float_dtype(dt) else \
                       "BIT" if pd.api.types.is_bool_dtype(dt) else \
                       "DATETIME" if pd.api.types.is_datetime64_any_dtype(dt) else \
                       "VARCHAR(255)"

table_name = "python_test_rfm" #

# --- Drop + Create table ---
cursor.execute(f"IF OBJECT_ID('dbo.{table_name}', 'U') IS NOT NULL DROP TABLE dbo.{table_name}")
cols = ", ".join([f"[{c}] {dtype_map(rfm_final[c].dtype)}" for c in rfm_final.columns]) #
cursor.execute(f"CREATE TABLE dbo.{table_name} ({cols})")

# --- Insert rows ---
cursor.fast_executemany = True
cursor.executemany(f"INSERT INTO dbo.{table_name} VALUES ({','.join(['?']*len(rfm_final.columns))})", rfm_final.values.tolist()) #
conn.commit()

<>:6: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
<>:6: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
C:\Users\Hiep\AppData\Local\Temp\ipykernel_22264\1011088987.py:6: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
  "SERVER=localhost\SQLEXPRESS;"

In [46]:
import pyodbc

# --- Connect ---
conn = pyodbc.connect(
    "DRIVER={ODBC Driver 17 for SQL Server};"
    "SERVER=localhost\SQLEXPRESS;"
    "DATABASE=vti_data;"
    "Trusted_Connection=yes;"
    "TrustServerCertificate=yes;"
)
cursor = conn.cursor()

# --- Map pandas dtype -> SQL Server type ---
dtype_map = lambda dt: "INT" if pd.api.types.is_integer_dtype(dt) else \
                       "FLOAT" if pd.api.types.is_float_dtype(dt) else \
                       "BIT" if pd.api.types.is_bool_dtype(dt) else \
                       "DATETIME" if pd.api.types.is_datetime64_any_dtype(dt) else \
                       "VARCHAR(255)"

table_name = "python_test_new" #

# --- Drop + Create table ---
cursor.execute(f"IF OBJECT_ID('dbo.{table_name}', 'U') IS NOT NULL DROP TABLE dbo.{table_name}")
cols = ", ".join([f"[{c}] {dtype_map(df_new[c].dtype)}" for c in df_new.columns]) #
cursor.execute(f"CREATE TABLE dbo.{table_name} ({cols})")

# --- Insert rows ---
cursor.fast_executemany = True
cursor.executemany(f"INSERT INTO dbo.{table_name} VALUES ({','.join(['?']*len(df_new.columns))})", df_new.values.tolist()) #
conn.commit()

<>:6: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
<>:6: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
C:\Users\Hiep\AppData\Local\Temp\ipykernel_22264\527738491.py:6: SyntaxWarning: "\S" is an invalid escape sequence. Such sequences will not work in the future. Did you mean "\\S"? A raw string is also an option.
  "SERVER=localhost\SQLEXPRESS;"